USE [master]
GO
/****** Object:  Database [UsersBC]    Script Date: 24/09/2022 6:58:45 p. m. ******/
CREATE DATABASE [UsersBC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsersBC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\UsersBC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UsersBC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\UsersBC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsersBC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsersBC]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24/09/2022 6:58:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersBC]    Script Date: 24/09/2022 6:58:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersBC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[document] [varchar](15) NOT NULL,
	[firstName] [varchar](25) NOT NULL,
	[secondName] [varchar](25) NULL,
	[lastName] [varchar](25) NOT NULL,
	[lastName2] [varchar](25) NULL,
	[phone] [varchar](15) NULL,
	[email] [varchar](40) NULL,
	[address] [varchar](40) NOT NULL,
	[age] [int] NOT NULL,
	[genre] [varchar](20) NOT NULL,
 CONSTRAINT [PK_UsersBC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
