<div class="jumbotron">
    <h1 class="display-4 text-center">Users</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <h5 class="text-center">
                Add Users
            </h5>
            <app-data-form></app-data-form>
        </div>
        <br>
        <div class="col-md-7">
            <h5 class="text-center">
                Consultas a base de datos
            </h5>
            <app-query-form></app-query-form>
            
        </div>

    </div>
    <!--<div class="row">
        <div class="col-md-7">
            <h5 class="text-center">
                Consultas a base de datos
            </h5>
            <app-query-form></app-query-form>
            
        </div>
    </div>-->

    <div class="col-md-12">
        <h5 class="text-center">
            View Users
        </h5>
        <app-view-form></app-view-form>
    </div>
</div>
