<div class="container">
    <table class="table table-sm">
        <tr>
            <th>Document </th>
            <th>firstName </th>
            <th>secondName </th>
            <th>lastName </th>
            <th>lastName </th>
            <th>phone </th>
            <th>email </th>
            <th>address </th>
            <th>age </th>
            <th>genre </th>
        </tr>
        <tr *ngFor="let register of  getService.list">
            <td>{{register.document}} </td>
            <td>{{register.firstName}} </td>
            <td>{{register.secondName}} </td>
            <td>{{register.lastName}} </td>
            <td>{{register.lastName2}} </td>
            <td>{{register.phone}} </td>
            <td>{{register.email}} </td>
            <td>{{register.address}} </td>
            <td>{{register.age}}</td>
            <td>{{register.genre}}</td>
            <td>
                <i class="far fa-edit fa-lg text-info" (click)="editUser(register)" style="cursor: pointer"></i>
            </td>
            <td>
                <i class="far fa-trash-alt fa-lg text-danger" (click)="deleteUser(register.id)" style="cursor: pointer"></i>
            </td>
        </tr>
    </table>
</div>

<!--<div class="containerButtons">
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-success btn-lg">Nombre de todas las personas</button>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-success btn-lg">Cantidad de Hombres</button>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-success btn-lg" (click)="cantMujeres()">Cantidad de Mujeres</button>
        </div>
    </div>
    <div class="template">
        <p>
            {{result}}
        </p>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-success btn-lg">¿Quien es el mayor?</button>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-success btn-lg">Promedio de Edad</button>
        </div>
    </div>
</div>-->