.container {
    display: block;
    overflow: hidden;
    flex-wrap: wrap;
    overflow: auto;
}

.containerButtons {
    display: flex;
    overflow: hidden;
    overflow: auto;
}

.btn {
    margin: 20px;
}