
<div class="cont" >
    <table class="table table-sm">
            <th>resultados</th>
            <tr>
                <th>Cantidad de Mujeres: </th><td>{{cantidadMujeres}}</td>
                
            </tr>
            
            <tr>
                <th>Cantidad de Hombres: </th><td>{{cantidadHombres}}</td>
            </tr>
            
            <tr>
                <th>Promedio de edad: </th><td>{{promedioEdad}}</td>
            </tr>

            <tr>
                <th>El mayor de la lista: </th><td>{{personaMayor}}</td>
            </tr>
    </table>
</div>
<div class="container">
    <!--<div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-success btn-lg">Nombre de todas las personas</button>
        </div>
    </div>-->
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-success btn-lg" (click)="cantHombres()">Cantidad de Hombres</button>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-success btn-lg" (click)="cantMujeres()">Cantidad de Mujeres</button>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-success btn-lg" (click)="quienEsMayor()">¿Quien es el mayor?</button>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-success btn-lg" (click)="avgEdades()">Promedio de Edad</button>
        </div>
    </div>
</div>