.container {
    display: flex;
    overflow: hidden;
    overflow: auto;
}

.cont {
    display: block;
    overflow: hidden;
    flex-wrap: wrap;
    overflow: auto;
}

.btn {
    border-radius: 5px;
    margin: 10px;
    font-size: 14px;
}

.btn:hover{
    border-radius: 20%;
    background: #0000FF;
}